.we-team-lobby-title-container {  
  /* position: fixed; */
  /* left: 0;
  right: 0;
  top: 20px; */
  /* height: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  /* background: #ffffff8a; */
  border-radius: 10px;
  max-width: 680px;
  margin: 0% auto;
  color: #000;
}

.we-team-lobby-title {
  font-size: 27px;
}

@media (max-width: 1000px) {
  .we-team-lobby-title-container {
    top: 0;
    border-radius: 0;
    /* background: #ffffff8a; */
    max-width: initial;
  }
  .we-team-lobby-title {
    background: initial;
    padding: 5px;
    border-radius: 0;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.we-team-lobby-logo {
    display: flex;
    align-items: center;
}

.we-team-lobby-message {
  text-align: center;
}

.lobby-screen {
  background-repeat: no-repeat !important;    
  background-position: center !important;
  background-size: cover !important;
  justify-content: center;
}

@media (max-width: 1000px) {
  .lobby-screen {
      flex-direction: column-reverse;
      justify-content: initial;
  }
}

@media (min-width: 1001px) {
  .lobby-screen {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
  }
}

.lobby-screen > div {
  /* flex: 1 1 0; */
  margin: 0 20px;
  display: flex !important;
  align-items: flex-start !important;
}


@media (max-width: 1000px) {
  .lobby-screen > div {
    margin: 0 auto;
    width: 100%;
  }
}

.lobby-screen .we-team-content-controls span[role=heading],
.lobby-screen .we-team-content-controls .we-team-title { 
  color: #000 !important;
}

.lobby-screen .we-team-content-controls .we-team-title { 
  display: none;
}

.lobby-screen .we-team-content-controls .new-toolbox {
  background: #000000a6;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (min-width: 1001px) {
  .lobby-screen .we-team-content-controls .new-toolbox {
    position: fixed !important;
    left: 0;
    right: 0;
    width: 400px;
    margin: 0 auto 20px;
  }
}

 
.lobby-screen .we-team-content {
  background: #ffffff8a !important;
  height: initial !important;
  padding: 0 20px!important;
  width: 750px;
  margin: 0;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .lobby-screen .we-team-content {
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }
}
.lobby-screen #preview {
  background: #000000;
  width: 450px;
  height: 220px;
  position: relative;
  /* this will vertical center the avatar */
  align-items: center !important;
  border-radius: 10px;
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .lobby-screen #preview {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@media (min-width: 1001px) {
  .lobby-screen #preview video {
    width: 450px;
    height: 220px;
    border-radius: 10px;
  }
}

.lobby-screen .preview-device-status {
  position: absolute;
  bottom: 10px;
  background: #c9c3bdc7;
  border-radius: 5px;
  padding: 6px;
}

.lobby-screen .preview-device-status > div {  
  margin-top: 0px;
}

.we-team-lobby-music-control {
  position: fixed;
  top: 5px;
  right: 5px;
  background: #000000a6;
  border-radius: 5px;
  padding: 2px;
}

@media (min-width: 1001px) {
.lobby-screen-content .lobby-chat-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 70%;
  }
.lobby-screen-content .lobby-chat-container.hidden {
  display: none;
  }
  .lobby-screen-content .open-chat-button {
    display: initial;
  }
}

.lobby-screen .we-team-padded-content {
  padding: 0px;
}

.lobby-prejoin-input,
.lobby-prejoin-error {
    width: initial;
    min-width: 300px;
}

.lobby-button-width {
    min-width: 300px !important;
}
